<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown</a></li>
    </ul>
  </div>
</nav>

<div class="navside-nav" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <i class="fa fa-dashboard fa-fw"></i> Dashboard
      </li>
      <li>
        <i class="fa fa-th-list fa-fw"></i> Categories
      </li>
      <li>
        <i class="fa fa-th-list fa-users"></i> Admins
      </li>

      <li>
        <i class="fa fa-database fa-users"></i> Diagrama ER
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>