<ul id="barra-de-navegacao-desktop" class="side-nav fixed hide-on-med-and-down pink accent-1" style="width: 210px; transform: translateX(0%);">
  <li><h2 class="white-text center-align"><i class="material-icons prefix logo">local_florist</i></h2></li>
  <li><a class="waves-effect white-text" href="tarefas.html">Tarefas</a></li>
  <li><a class="waves-effect white-text" href="alunos.html">Alunos</a></li>
  <li><a class="waves-effect white-text" href="acompanhamentos.html">Acompanhamentos</a></li>
</ul>